@using ShopECommerce.BusinessLogic.Dtos.HomeDtos;
@model Home_CompanyRatesViewDto

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Redaktə edin</h4>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            
                            <div class="form-group">
                                <label asp-for="Icon">Ikon</label>
                                <input asp-for="Icon" type="text" class="form-control" value="@Model.Icon" placeholder="Ikon" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Title">Başlıq</label>
                                <input asp-for="Title" type="text" class="form-control" value="@Model.Title" placeholder="Başlıq" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Sum">Cəm</label>
                                <input asp-for="Sum" type="text" class="form-control" value="@Model.Sum" placeholder="Cəm" />
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
